/MonsterTacics/x64
/MonsterTacics/.vs
/MonsterTacics/Debug
/MonsterTacics/MonsterTacics/Log.txt
/MonsterTacics/MonsterTacics/MonsterTacics.vcxproj.user
/MonsterTacics/MonsterTacics/Debug
/MonsterTacics/MonsterTacics/x64
/TacticsPrototype/Log.txt
/TacticsPrototype/TacticsPrototype.vcxproj.user
/TacticsPrototype/.vs
/TacticsPrototype/Debug
